<ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <!--<a class="nav-link" routerLink="/sales">Sales Volume</a>-->
      <a class="nav-link" routerLink="/s1">DataCharts</a>
    </li>
    <li class="nav-item">
      <!--<a class="nav-link" routerLink="/orders">Latest Orders</a>-->
      <a class="nav-link" routerLink="/s2">Clients</a>
    </li>
    <li class="nav-item">
      <!--<a class="nav-link" routerLink="/health">System Health</a>-->
      <a class="nav-link" routerLink="/s3">Servers</a>
    </li>
</ul>